{# Define the airline name and image file name #}
{% set airlineName = 'British Airways' %}
{% set imageName = 'british-air.png' %}
{% set content1 = 'Established in 1987, British Airways (CMA) is a western Canadian privately owned and operated company. CMA offers scheduled and charter flights across a unique network connecting communities throughout British Columbia and Alberta and operates a fleet of Beechcraft 1900Ds, Dornier 328s and De Havilland Dash 8 aircraft.' %}


<!DOCTYPE html>
<html>
<head>
    <title>Book Cheap Flight Ticket on {{ airlineName }} | Get Cheap Flight Deal {{ airlineName }} - Cheapskytravel</title>
    <meta name="keywords" content="{{ airlineName }}, {{ airlineName }} Flights, {{ airlineName }} Reservations, ...">
    <meta name="description" content="Find cheap flight at Cheapskytravel. Get the best fares With US - call us @ <?=TFN?>">
</head>
<body>
    <div id="header-wrapper" class="wrap-inpg py-4 py-md-5" style="background-image: url('frontend/images/{{ imageName }}'); background-position: center; background-no-repeat: no-repeat; background-size: cover;">
        {# Include API banner #}
        {{ include('includes/api-banner.twig') }}
    </div>
    
    <div class="whysky mb-4 mb-md-5">
        {# Include deals #}
        {{ include('includes/deals.twig') }}
    </div>
    
    <div class="container mb-3 mb-md-4">
        <div class="flight-list">
            <div class="headingtxt mb-3 text-center">
                <h3 class="headh3 txt-ff"><span>{{ airlineName }}</span> Flight Deals <small>(Round Trip)</small></h3>
                <span class="mxw lead text-center center-block txt-ff" data-aos="fade-down"></span>
            </div>
            <div class="row g-3">
                <div class="col-md-8 col-12 fdl">
                    <div class="row g-3">
                        {% for flight in flights %}
                            <div class="col-md-6 col-12">
                                <div class="flight-status fs-indx bxd">
                                    <a title="Flight From {{ flight.departure }} to {{ flight.arrival }}" href="{{ base_url() }}Result?depart={{ flight.departure }}&arrival={{ flight.arrival }}&trip=round&page=1&departOn%5B%5D={{ D_DATE }}&returnOn={{ R_DATE }}&adult=1&child=0&infant=0&cabin=ECONOMY&airline=">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col-lg-8 col-8">
                                                <div class="dd-box">
                                                    {{ flight.departure }} <i class="ti-exchange-vertical"></i> {{ flight.arrival }}<br>
                                                    <span>{{ flight.title }}</span>
                                                    <hr>
                                                    <span>{{ DR_DATE }}</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-4">
                                                <strong>${{ flight.price }}<i class="ti-info-alt price-info"></i></strong>
                                                <button class="bknw">Book Now</button>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    {# Include sm-inc #}
                    {{ include('sm-inc.twig') }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="about-spirit-airlines content-wrap mb-4 mb-md-4">
        <div class="container">
            <div class="headingtxt hdadjt">
                <div class="headh3 txt-ff">{{ airlineName }}</div>
            </div>
            {# Include airline information #}
            <p>{{content1}}</p>
            <h3>Destinations</h3>
            <p>Italy, Lithuania, Malta, ... Turkey, and multiple countries.</p>
            <div class="all-content">
                {# More content here #}
                <h3>Booking Method</h3>
<p>To book a low-cost flight, passengers must go to the Cheapskytravel website. Online flight booking saves money since it may be done without paying a service fee. Nobody needs to travel to the airport to reserve a seat. The most convenient option is to book your <strong>affordable flight tickets online</strong>, but you may also arrange your trip by phoning our reservation number. Call us at <?= TFN ?> to book your flight. To take advantage of the new <strong>low-cost airfare</strong> with all-inclusive facilities, please contact us.&nbsp;</p>
<h3>What distinguishes Cheapskytravel as a rare star?</h3>
<p>Cheapskytravel may provide you with happiness and smiles at the lowest cost. There are several inexpensive airlines offers available, and you do not need to look hard for them. Booking in advance will help you save money on plane tickets, as last-minute purchases may incur expensive surcharges. If you are planning a family vacation, be sure to let the travel agent know in advance so they can provide you with better bargains that will give you a lovely trip with cost-saving values. Be with us and enjoy a hassle-free <strong>affordable flight journey</strong>.</p>
            </div>
            <a class="readmore stmpbtn" href="#">Read more...</a>
        </div>
    </div>
    
    <div class="modal fade best-dealx" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <button type="button" class="close close-btn" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="pdl text-center">Book now and save up to $20!</div>
                    <div class="afm-offer-card01 p-3">
                        <a href="tel:{{ TFN }}" class="tfn-url" title="Call Us For Urgent Flights Booking, Changes/Cancellation Or Assistance">
                            <div class="row align-items-top align-items-center mb-0">
                                <div class="col-md-8 col-9 pl-lg-0">
                                    <div class="tc-child-div-s">
                                        <h3 class="afm-call-booking">Can't find the perfect fare? Let us help you.</h3>
                                        <div class="clearfix"></div>
                                        <span class="tcsv">Don't miss out on unbeatable deals.</span>
                                        <span class="tcsv tcsv2">Call Now</span>
                                        <div class="tc-tfn tfnp tfn-no"><i class="fa fa-phone" aria-hidden="true"></i> {{ TFN }}</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-3 offset-sm-1">
                                    {# Additional content here #}
                                </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <style>
        .tfn-bottom-section { display: block !important; }
        body { margin-bottom: 45.5px; }
        a { color: #343a40; }
        .modal { top: 0 !important; }
        .rmpc { background: #bd98ff; padding: 15px; }
        .txt01 { display: none; }
    </style>
    
    <script>
        $('.airline-name').text('{{ airlineName }}');
        $('.txt02').text('Flight Deals');
    </script>
</body>
</html>
